@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-sans: "Public Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #005c55;
  --color-primary-dark: #0f766e;
  --color-secondary: #466460;
  --color-tertiary: #7f4025;
  --color-background: #fbf9f7;
  --color-surface: #fcfaf8;
  --color-surface-low: #f5f3f1;
  --color-surface-high: #eae8e6;
  --color-surface-highest: #e4e2e0;
  --color-on-surface: #1b1c1b;
  --color-on-surface-variant: #3e4947;
  --color-outline: #6e7977;
  --color-outline-variant: #bdc9c6;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans antialiased;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
